

/* Variables */
  $main-color:  rgb(19,33,37);
  $secondary-color: rgb(184, 189, 186);
  $red: rgb(255,0,0);
/* END Variables */

/* Fonts */
@font-face {font-family: Lora-Regular; src: url('fonts/Lora-Regular.ttf');}
@font-face {font-family: Lora-Bold; src: url('fonts/Lora-Bold.ttf');}
@font-face {font-family: Lora-Italic; src: url('fonts/Lora-Italic.ttf');}
@font-face {font-family: Lora-Bold-Italic; src: url('fonts/Lora-BoldItalic.ttf');}
@font-face {font-family: Karla-Regular; src: url('fonts/Karla-Regular.ttf');}
@font-face {font-family: Karla-Bold; src: url('fonts/Karla-Bold.ttf');}
/* END Fonts */

body {
  font-family: 'Karla-Regular';
  background-color: $main-color;
  color: whitesmoke;
}

p {
  margin-top: 1em;
}

.header {

  background-color: rgb(19,33,37);
  height: 20em;

  &-image{
    width: 30em;
    height: 20em;  
    background: 
    // linear-gradient(to right, rgba(255, 255, 255, 0) 60%, $main-color),
    /* radial-gradient(farthest-corner at 10px 0, rgba(255, 255, 255, 0) 40%, var(--main-color) 68%) */
    url(niels-smeets-448642-unsplash.jpg);
    background-size: contain;
    background-repeat: no-repeat;
  }

  &-title{
     position: absolute;
    width: 100%;
    font-family: 'Lora-Regular';
    // color: $secondary-color;
    text-align: center;
    margin-left: 8em;

    & h1{
      font-size: 4em;
      margin-bottom: 0;
    }
  }
}

.menu{

  position: absolute;
  top: 3%;
  right: 20%;

  &-div{
    position: fixed;
  }
}

.weekly-top-ranking {

  display: block;

  &__title{
    text-align: center;
    font-size: 4em;
  }

  &__image{

    & img{
    width: 30em;
    border: 5px black solid;
    }
  }

  &__text-content{
    max-width: 30em;
    margin: 1em;
    text-align: justify;
  }

  &__details-button-and-iframe{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 1.4em 12.4em;

    & iframe{
      border: 1px black solid;
      border-radius: 3px;
    }
  }
}

.details-modal{

  &__image{
    width: 100%;
    border: 5px solid black;
  }

  &__spotify-playlist{

    & iframe{
      width: 100%;
      border: 5px solid black;
      border-radius: 3px;
    }
  }
}

.modal-content{
  color: black;
}
/* Common Classes */

.flex{

  &-spaceBetween{

    &-center{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &-centered{
    &-centered{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.text-align-center {
  text-align: center;
}

/* END Common Classes */



/* SEARCHER PRUEBAS  */
#prueba img{
  width: 100px;
  margin: 0.5em;
  border: solid 1px black;
  transition: all .2s ease-in-out;
}

#prueba img:hover{
  transform: scale(1.1);
  cursor: pointer;
}

.all-albums-content {
  // background-image: linear-gradient($main-color 50%, yellow);
}